@model List<Dirigente>

@{
    ViewData["Title"] = "Lista de Dirigentes Técnicos";
}

<div class="d-flex justify-content-between">
    <div>
        <h2>@ViewData["Title"]</h2>
    </div>
    <div >
        <a  asp-action="Criar" class=" btn  btn-primary mb-3 btn-user btn-block fa fa-plus">
        Novo
    </a>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Data de Nascimento</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var dirigente in Model)
        {
            <tr>
                <td>@dirigente.Nome</td>
                <td>@dirigente.DataNascimento.ToShortDateString()</td>
                <td>
                    <a href="@Url.Action("Edit", new { id = dirigente.Id })" class="btn btn-success" title="Editar">
                        <i class="fa fa-edit"></i>
                    </a>
                    <a href="@Url.Action("Delete", new { id = dirigente.Id })" class="btn btn-danger btn-fab btn-round" title="Excluir">
                        <i class="fa fa-remove"></i>
                    </a>
                    <a href="@Url.Action("Termo", new { id = dirigente.Id })" class="btn btn-primary btn-fab btn-round" title="Termo">
                        <i class="fa fa-book"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
