@model List<Evento>

@{
    ViewData["Title"] = "Lista de Eventos";
}

<div class="d-flex justify-content-between">
    <div>
        <h2>@ViewData["Title"]</h2>
    </div>
    <div >
        <a  asp-action="create" class=" btn  btn-primary mb-3 btn-user btn-block">
        Novo
    </a>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Categoria</th>
            <th>DataInicio</th>
            <th>DataTermino</th>
          
        </tr>
    </thead>
    <tbody>
        @foreach (var avento in Model)
        {
            <tr>
                <td>@avento.Nome</td>
                <td>@avento.Edicao</td>
                <td>@avento.DataInicio</td>
                <td>@avento.DataTermino</td>
                <td>
                    <a href="@Url.Action("Edit", new { id = avento.Id })" class="btn btn-success btn-fab btn-round" title="Editar">
                        <i class="material-icons">edit</i>
                    </a>
                    <a href="@Url.Action("Delete", new { id = avento.Id })" class="btn btn-danger btn-fab btn-round" title="Excluir">
                        <i class="material-icons">remove_circle</i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
